<div class="home-background">
  <div class="card card-container">
    <div class="card-header">
      <i class="fa fa-group" style="font-size:20px; color: black"> Groups</i>
      <button class="btn-button-create-account glyphicon glyphicon-edit nav-link" routerLink="/create-group"></button>
    </div>
    <div class="list-group-horizontal">
      <div *ngFor="let group of groups">
        <a class="nav-link" routerLink="/groups/{{ group.name }}" [state]="{ id:1 , currentGroup: group}">
          <div class="list-group-item d-flex justify-content-between" style="display: flex; border-radius: 15px">
            <div class="flex-text" style="color: black; flex: 1"><b style="float: left;">{{group.name}}</b><button class="btn" (click)="onClickDelete(group.groupDeleteId) ; $event.preventDefault(); $event.stopPropagation();" style="float: right">
              <i class="fa fa-trash"></i></button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
