<div class="card card-container">
  <div class="card-header">
    <button class="btn-button" type="submit" (click)="onClickDrive()" style="margin-left: 22%">
      <div class="glyphicon glyphicon-road"></div>
      <div class="border-margin"><b>Drive</b></div>
      <div class="slider2" [hidden]="!screenSelected.get('Drive')"></div>
    </button>
    <button class="btn-button" type="submit" (click)="onClickTravel()" style="margin-left: 34%">
      <span class="glyphicon glyphicon-glass"></span>
      <div class="border-margin"><b>Travel</b></div>
      <div class="slider1" [hidden]="!screenSelected.get('Travel')"></div>
    </button>
  </div>

  <div class="moto2" [hidden]="!screenVisible.get('Drive')">
    <p class="moto3"><b>Submit your ride right now!</b></p>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <button class="btn-button-create-account"><a href="/register" class="nav-link" routerLink="/register">Submit now</a></button>
      <button class="btn-button-about-us"><a1 href="/register" class="nav-link" routerLink="/register">Learn more about our policy!</a1></button>
    </ul>
  </div>
  <div class="moto2" [hidden]="!screenVisible.get('Travel')">
    <p class="moto3"><b>Order a ride right now!</b></p>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">

      <button class="btn-button-create-account"><a href="/register" class="nav-link" routerLink="/register">Order now</a></button>
      <button class="btn-button-about-us"><a1 href="/register" class="nav-link" routerLink="/register">Learn more about our policy!</a1></button>
    </ul>
  </div>
</div>

