.background {
  background: whitesmoke;
  position: absolute;
  top: 8%;
  right: 450px;
  left: 450px;
}

.add-button {
  font-size:30px;
  color: black;
  background: whitesmoke;
  border: none;
  float: right;
}

.btn-button-create-account{
  border: none;
  background-color: #FAFAFA;
  color: black;
  left: 70%;
}

.btn-button-book{
  border: none;
  background: black;
  font-size: 1.2vw;
  color: white !important;
  border-radius: 10px;
  height: 6vh;
  width: 100%;
  margin: auto;
}

.btn-button-book:disabled{
  background-color: gray;
}

.background1 {
  background: white;
  position: absolute;
  top: 8%;
  right: 1200px;
  left: 0px;
}

.card-container.card {
  width: 540px;
  padding: 40px 40px;
}

.card {
  background-color: white;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-header {
  font-size: 30px;
  background-color: white;
  border: none;
  width: 100%;
  text-align: center;
}

.input-format {
  border-radius: 20px;
}
